.container {
    display: flex;
    height: 100vh;
    font-family: 'Lato-Regular';
}

/* Sidebar */
.sidebar {
    width: 280px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    bottom: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.sidebar.open {
    transform: translateX(0);
}

@media (max-width: 650px) {
    .sidebar {
        transform: translateX(-100%);
    }
}

/* Outlet (Main Content) */
.outlet {
    flex: 1;
    padding-left: 280px;
    margin-top: 100px;
    width: 100%;
    transition: padding 0.3s ease-in-out;
}

@media (max-width: 650px) {
    .outlet {
        padding-left: 0;
    }
}
.headercontainer{
    position: relative;
    z-index: 9;
  }
/* Menu Button */
.menuButton,
.closeButton {
    position: fixed;
    top: 13px;
    left: 20px;
    width: 33px;
    height: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.menuButton .line {
    width: 25px;
    height: 3px;
    background: black;
    transition: all 0.3s ease-in-out;
}

.closeButton .line {
    width: 25px;
    height: 3px;

    position: absolute;
    background: white;
    transition: all 0.3s ease-in-out;
}

/* Close Button Animation */
.closeButton .line:first-child {
    transform: rotate(45deg);
}

.closeButton .line:last-child {
    transform: rotate(-45deg);
}

@media (min-width: 651px) {

    .menuButton,
    .closeButton {
        display: none;
    }
}