.tableContainer {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
  border: 1px solid #0000001d;
  margin-top: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.profileCell, .companyCell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.emptyCircle {
  max-width: 40px;  min-width: 40px;
  max-height: 40px;  min-height: 40px;
  background: #0000001d;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}

.accepted {
  background-color: #d4f8d4;
  color: #2b8a3e;
}

.pending {
  background-color: #fff4cc;
  color: #e09f1f;
}

.canceled {
  background-color: #ffd6d6;
  color: #d32f2f;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
}


input[type="checkbox"] {
  transform: scale(1.2); /* Make checkboxes slightly bigger */
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 12px;
}

.pageButton {
  border : 2px solid #0A3B2C;
  color: black;
  padding: 8px 16px;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 14px;
}

.pageButton:hover {
  background-color: #0a3b2cd2;
  color: white;
  border: none;
}

.pageButton:disabled {
  opacity: .4;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
