.layout{
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 20px 50px;
    gap: 20px;
}

.right{
    flex: 1;
    border-radius: 15px;
    background: #3333331d;
}
.left
{
    flex: 1;
    border-radius: 15px;
    display: flex;
    
}