/* General Styles */
.main {
  flex: 1;
  background: #fff;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 16px;
}

/* Dashboard Content */
.dashboard {
  padding: 24px;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-wrap: wrap;
  gap: 16px;
}

.dashboardHeader h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.dashboardHeader p {
  color: #666;
}

.dateRange {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #eee;
  border-radius: 8px;
}

/* Grid Layout */
.grid {
  display: flex;
  gap: 24px;
}

/* Column Wrapping */
.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

/* Charts */
.charts {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stacks charts */
  gap: 24px;
}

/* Ensuring children of .charts fit properly */
.charts > * {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 1270px) {
  .grid {
    flex-direction: column;
  }
  
  .charts {
    flex-direction: column; /* Ensure vertical stacking */
  }
}

@media (max-width: 1024px) {
  .grid {
    flex-direction: column; /* Stack columns on smaller screens */
  }

  .charts {
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  .dashboardHeader {
    flex-direction: column;
  }

  .dateRange {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .headerLeft h1 {
    font-size: 16px;
  }

  .dashboardHeader h2 {
    font-size: 20px;
  }

  .dashboardHeader p {
    font-size: 14px;
  }

  .iconButton {
    width: 36px;
    height: 36px;
  }
}
