.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

h3 {
    margin-top: 10px;
}

.row {
    display: flex;
    gap: 15px;
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error {
    color: red;
    font-size: 11px;
    margin-top: 3px ;
    font-family: sans-serif;
}


.inputError {
    border: 1px solid red !important;
}

.policy {
    display: flex;
    align-items: center;
    gap: 8px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* Responsive design */
@media (max-width: 360px) {
    .row {
        flex-direction: column;
    }
}
