.solution-section {
    padding: 80px;
    font-family: 'Ysabeau', sans-serif;
}

.plan-btn{
    margin-bottom: 30px; 
}
.plan-btn span {
    padding: 6px 12px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #022a26;
    border: 1px solid #c3c3c3;
}

.solution-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.solution-header h2 {
    color: #100a30;
    font-size: 3rem;
    line-height: 1.2;
    width: 50%;
    margin-bottom: 16px;
}

.solution-header p {
    color: #777;
    font-size: 1.25rem;
    width: 40%;
    line-height: 1.3;
}

/* Main Content */
.solution-content {
    display: flex;
    margin-top: 16px;
}

.left-card {
    min-height: 30vh;
    background-color: #f0f3ff;
    width: 55%;
    border-radius: 24px;
}

.steps-container {
    width: 45%;
    padding-left: 80px;
}

/* Steps */
.step {
    min-height: 8vh;
    border-left: 4px solid #ddd;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    transition: border-color 0.3s ease, transform 0.2s ease;
}

.step:hover {
    border-color: #022a26;
    transform: translateX(5px);
}

.step-logo {
    height: 40px;
    transform: scale(0.7);
}

.step-text {
    padding-left: 10px;
}

.step-text h4 {
    font-size: 1.6rem;
}

.step-text p {
    font-size: 1.1rem;
    width: 100%;
}

/* Active Step */
.active-step {
    border-color: #022a26;
}

.active-step h4 {
    color: #022a26;
}

/* Responsive Design */
@media (max-width: 970px) {
    .solution-section {
        padding: 40px;
    }

    .solution-header {
        flex-direction: column;
        text-align: center;
    }

    .solution-header h2,
    .solution-header p {
        width: 100%;
    }

    .solution-content {
        flex-direction: column;
    }

    .left-card {
        width: 100%;
        min-height: 20vh;
    }

    .steps-container {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
    .plan-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .solution-section {
        padding: 20px;
    }

    .solution-header h2 {
        font-size: 2rem;
    }

    .solution-header p {
        font-size: 1.1rem;
    }

    .step {
        flex-direction: column;
        align-items: flex-start;
    }

    .step-logo {
        height: 35px;
    }

    .step-text h4 {
        font-size: 1.4rem;
    }
}
