* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
button{
  cursor: pointer;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-X: hidden;
  font-family: 'Ysabeau';
}

@font-face {
  font-family: 'Niramit';
  src: url(../src/assets/Fonts/Niramit-Medium.ttf);
}

@font-face {
  font-family: 'Ysabeau' ;
  src: url(../src/assets/Fonts/Ysabeau-Medium.ttf);
}

@font-face {
  font-family: 'Niramit-Regular' ;
  src: url(../src/assets/Fonts/Niramit-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-Regular' ;
  src: url(../src/assets/Fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-Bold' ;
  src: url(../src/assets/Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins-Medium' ;
  src: url(../src/assets/Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-Black' ;
  src: url(../src/assets/Fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: 'Lato-Regular' ;
  src: url(../src/assets/Fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Bold' ;
  src: url(../src/assets/Fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Merriweather-Regular' ;
  src: url(../src/assets/Fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather-Bold' ;
  src: url(../src/assets/Fonts/Merriweather-Bold.ttf);
}
